/* Tabs*/

body {
    background-color: #f6f9fe !important;
}

hr {
    width: 25%;
    border-top: 5px solid #29c2f0;
}

a:hover {
    text-decoration: none;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.borrower-attribute-name {
    display: flex;
    justify-content: space-between;
}

.fa-question-circle {
    color: #05c2f0;
    margin-left: 5px;
    width: 1em;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em;
}


/******* Tabs Header Start from Here *******/

.tabs-header {
    position: fixed;
    width: 100%;
    background-color: #29c2f0 !important;
    height: 80px;
    top: 0px;
}

.tabs-header ul {
    display: flex;
    align-items: center;
}

.tabs-header ul li .avatar-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #6cc8e3;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 600;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 50px;
    height: 50px;
    padding: 30px;
    font-size: 32px;
}

.tabs-header .u-profile .dropdown-menu {
    min-width: 14.7rem !important;
    border: 0px solid transparent;
    border-radius: 0px;
}

.tabs-header .u-profile .dropdown-item {
    padding: 8px 16px;
    margin: 0px;
}

.tabs-header .u-profile .dropdown-item .fas {
    padding-right: 10px;
}

.tabs-header .u-profile .dropdown-item a {
    margin: 0px;
    color: #000;
}

.tabs-header .u-profile .dropdown-item:hover {
    background-color: #f1f1f1;
}

.tabs-header .u-profile-items {
    padding: 10px;
}

.tabs-header .u-profile:hover {
    background-color: #23b3d9;
}

.tabs-header .u-profile-items .fa {
    color: #fff;
    font-size: 16px;
}

.tabs-header .u-profile-items .nav-link {
    padding-right: 8px !important;
    font-size: 16px;
    padding-left: 8px !important;
}


/******* Tabs Buttons  *******/

.btn-submit-offer {
    background-color: #05c2f0;
    border-color: #05c2f0;
    color: #fff;
    padding: .313rem 2rem;
}

.btn-submit-offer:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #068bac;
    color: #fff;
}

#tabs .footer .footer-form {
    height: 90px;
    display: flex;
    align-items: center;
}

#tabs .footer .skip-btn {
    text-align: right;
}

#tabs .footer .skip-btn a {
    font-size: 22px;
    color: #8c9db3;
    padding: 10px;
}

#tabs .footer .skip-btn a:hover {
    color: #646970;
}

#tabs .footer-form .btn-primary {
    color: #fff;
    background-color: #05c2f0;
    border-color: #05c2f0;
    margin: 0px auto;
    display: block;
    border: 2px solid transparent;
    border-radius: 19px;
    padding: .313rem 2rem;
}


/******* Section Tabs Start from Here *******/

#tabs {
    color: #000;
    padding: 80px 0px;
    display: block;
    width: 100%;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #000;
    border-color: transparent transparent #29c2f0;
    border-bottom: 4px solid #29c2f0 !important;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #000;
    font-size: 20px;
}

#tabs .tab-content h2.page-header {
    color: #8c9db3;
    width: 100%;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

#tabs .tab-content {
    background: #fff;
    border-radius: 4px;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, .2);
    padding: 35px !important;
    margin: 0px auto;
    width: 70%;
    /* height: 100%; */
}

#tabs .tab-content .input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1a1311;
    text-align: center;
    white-space: nowrap;
    background-color: #e8ecf4;
    border: 1px solid #bbc7d7;
    border-radius: .25rem;
}

#tabs .tab-content label {
    text-align: left;
    display: block;
    font-size: 1.2rem;
}

#tabs .tab-content .selection-pill {
    width: 130px;
    line-height: 18px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #d6dfee;
    padding: 15px 10px;
    cursor: pointer;
    background-color: #fff;
}


/*----===== (BASIC-INFO) FORM CSS START FROM HERE ========-----*/

#tabs .tab-content #msform {
    margin: 0px auto;
    position: relative;
    width: 100%;
}

#tabs .tab-content #msform fieldset:not(:first-of-type) {
    display: none;
}

#tabs .tab-content #msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #068bac;
}

#tabs .tab-content .ls-select .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em;
    width: .625em;
    overflow: visible;
}

#tabs .tab-content .option-box,
.option-box--spacer {
    width: 110px;
    height: 135px;
    margin: 2px;
}

#tabs .tab-content .option-box {
    font-size: 14px;
    border: 1px solid #d6dfee;
    border-radius: 3px;
    padding: 14px;
    position: relative;
    cursor: pointer;
    cursor: hand;
}

#tabs .tab-content .form-group .selection-pill__check {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    cursor: hand;
}

#tabs .tab-content .form-group .option-box__label {
    display: table-cell;
    vertical-align: middle;
    height: 68px;
    margin: 0 auto;
}

#tabs .tab-content .form-group .box {
    display: table;
    width: 100%;
}

#tabs .tab-content .form-group button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}


/*----===== (OWNER INFO) TAB CSS START FROM HERE ========-----*/

#tabs .owner-info .hr-divider {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: .1em;
    margin: 26px 0;
    display: inline-block;
}

#tabs .owner-info .hr-divider span {
    background: #fff;
    padding: 0 10px;
}

#tabs .owner-info .svg-inline--fa.fa-w-16 {
    color: #05c2f0;
    width: 1em;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em;
    margin-left: 5px;
}

#tabs .owner-info .tooltip-wrapper {
    display: inline-block;
}


/*----===== (DOCUMENTS) TAB CSS START FROM HERE ========-----*/

#tabs .documents-info h5.option {
    color: #abb7c7;
    text-transform: uppercase;
    font-size: 16px;
}

#tabs .documents-info .help-text {
    width: 50%;
    margin: 0 auto;
}

.upload-documets .box {
    position: relative;
    background: #ffffff;
    width: 100%;
}

.upload-documets {
    border: 1px solid #000;
    height: 120px;
    position: relative;
    padding: 0px 20px;
}

.upload-documets .box-header {
    color: #444;
    display: block;
    position: relative;
}

.upload-documets .box-tools {
    position: absolute;
    right: 0px;
    top: -6px;
}

.upload-documets .box-body p {
    font-size: 12px;
}

.upload-documets .dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 100px;
    padding: 0px 15px;
}

.upload-documets .dropzone,
.upload-documets .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.upload-documets .dropzone-wrapper:hover,
.upload-documets .dropzone-wrapper.dragover {
    background: #ecf0f5;
}

.upload-documets .preview-zone {
    text-align: center;
    position: absolute;
    left: 30%;
    top: 12px;
}

.upload-documets .preview-zone .box {
    position: relative;
    background: #ffffff;
}

.upload-documets .box-body {
    max-width: 120px;
}

.upload-documets .box-body img {
    max-width: 100%;
    width: 100%;
    height: 55px;
}


/*----===== (SUBMIT) TAB CSS START FROM HERE ========-----*/

.question-group-header {
    border-bottom: 2px solid #bbc7d7;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
}

.question-wrap {
    flex: 0 0 49%;
    font-size: 14px;
}


/* .selection-pill:focus, .selection-pill:focus-within {
    outline: none !important;
} */

.selection-pill:focus {
    outline: none;
}

.pill-active {
    outline: -webkit-focus-ring-color auto 1px !important;
}

.selection-pill {
    width: 130px;
    line-height: 18px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #d6dfee;
    padding: 15px 10px;
    cursor: pointer;
    background-color: #fff;
    display: inline-block;
    text-align: center !important;
    margin: .5rem !important;
    position: relative;
}

.selection-pill input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 50%;
}

.selection-pill:hover input~.checkmark {
    background-color: transparent;
}

.selection-pill input:checked~.checkmark {
    background-color: transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.selection-pill input:checked~.checkmark:after {
    display: block;
}

.selection-pill .checkmark:after .selection-pill .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


/*----===== (SUBMIT_Owner-Info-Modal-Box_Edit) CSS START FROM HERE ========-----*/

.modal-dialog {
    max-width: 800px;
}

.modal-content {
    padding: 20px 40px;
}

.my-modal {
    background-color: transparent;
    max-width: initial;
}

.modal-title {
    color: #000;
}


/* --- ======== PPP-Loan Application CSS Start --- ========= */

.average_payroll {
    font-size: 0.9em;
}

.payroll-feedback {
    color: #b4b4b4;
}

.business-gross-receipt .valid_dollor {
    font-size: 13px;
}

.required-field {
    display: none;
}

.accordance {
    font-size: 13px !important;
}

.ppp-business-questions .check_question {
    font-size: 16px !important;
}

.ppp-business-questions .question_list {
    font-size: 14px;
}

.ppp-documents .h-tooltip .tooltip-arrow {
    top: 6px;
}

.ppp-documents .h-tooltip {
    top: -18px;
}

.ppp-documents .file-support .support_file_tooltip {
    top: -6px;
    right: -214px;
}

.ppp-documents .h_file_tooltip {
    top: -3px !important;
}

.ppp-documents .svg-inline--fa.fa-w-16 {
    width: 1.5em !important;
    height: 1.8em;
    color: #ABB7C7;
}

.ppp-documents .svg-inline--fa.fa-w-17 {
    width: 0.8em !important;
    color: #7ADEF7;
}

.form-group .italic {
    font-style: italic;
    font-family: Arial, sans-serif !important;
}

.ppp-documents .file-support .upload-documets {
    border: 2px dashed #bbc7d7;
    height: 90px;
    position: relative;
    padding: 0px 15px;
    background-color: #F6F9FE;
}

.ppp-documents .file-support .upload-documets label {
    align-items: center;
    justify-content: left;
}

.ppp-documents .file-support .upload-documets .preview-zone {
    text-align: center;
    position: absolute;
    left: 30%;
    top: 12px;
}

.ppp-documents .file-support .upload-documets .preview-zone .box {
    position: relative;
    width: 100%;
    background: #ffffff;
}

.ppp-documents .file-support .upload-documets .box-body {
    max-width: 120px;
}

.ppp-documents .file-support .upload-documets .dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 75px;
    padding: 0px 15px;
}

.ppp-documents .file-support a {
    color: #05c2f0 !important;
}

.ppp-documents .file-support .upload-documets .dropzone,
.upload-documets .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.ppp-documents .file-support .upload-text {
    border-bottom: 2px solid #D9D9D9;
}

.ppp-documents .file-support .upload-title {
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    border-radius: 4px;
    border: 1px solid #90A0B6;
}

.ppp-documents .subheader .underline {
    text-decoration: underline;
}

.ppp-documents .file-support .irs-quarter-label {
    width: 84%;
}

.ppp-documents .custom-certificate-label {
    font-size: 1rem !important;
}

.ppp-documents .custom-certificate-label::before {
    top: 1.5rem;
    left: 0.3rem;
}

.ppp-documents .custom-certificate-label::after {
    top: 1.5rem;
    left: 0.3rem;
}


/* --- Tooltip Start CSS From Here --- */

.h-tooltip {
    display: none;
    position: absolute;
    top: -42px;
    right: -302px;
    z-index: 999;
    max-width: 290px;
    text-align: initial;
    font-size: 16px;
}

.h-tooltip .tooltip-arrow {
    top: 30px;
    padding: 3px;
    left: 15px;
    background: black;
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    border-color: transparent transparent #000 #0000;
    border-style: solid;
    border-width: .425rem;
    transform-origin: -.8125rem -.9375rem;
    transform: rotate(45deg);
    box-shadow: -0.125rem 0.125rem 0.1875rem 0 #bbb;
    z-index: -9999;
}

.toolip-content {
    position: relative;
}

.tooltip_hover {
    position: relative;
}

a:hover {
    cursor: pointer;
}

.tooltip_hover:hover .h-tooltip {
    display: block;
}

.tooltip_hover:hover .h-tooltip {
    display: block;
}

.admin-dash .dropdown-menu-right {
    position: absolute !important;
}

.admin-dash .dropdown-menu {
    top: 86% !important;
}

.admin-dash .dropdown-item:hover {
    background-color: #c3d2d9;
}


/* --- Tooltip END CSS From Here --- */


/* --- ======== PPP-Loan Application END CSS Start --- ========= */


/* --- ======== LogIn PathWay CSS Start --- ========= */