    /* Global CSS start */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    a {
        color: #7EC4F0;
        text-decoration: none;
    }

    /* PPP-HOME-PAGE START IN CSS */

    .ppp-home-page {
        width: 100%;
        display: block;
        overflow: hidden;
    }

    /* asidebar-start here */

    .ppp-home-page .sidebar {
        position: fixed;
        left: -250px;
        top: 0;
        width: 250px;
        height: 100%;
        /* background-color:#1b3c4b; */
        border-right: 1px solid #D1D1D1;
        transition: all .5s;
    }

    .ppp-home-page .sidebar header {
        line-height: 70px;
        padding: 20px;
        text-align: center;
        background: gray;
        font-size: 20px;
        font-weight: 800;
        user-select: none;
    }

    .ppp-home-page .sidebar ul li a {
        width: 100%;
        height: 100%;
        padding-left: 40px;
        line-height: 65px;
        border: 1px solid rgba(255, 255, 255, .1);
        border-bottom: 1px solid #D1D1D1;
        transition: .4s ease-in-out;
        box-sizing: border-box;
        font-size: 20px;
        display: inline-block;
        color: black;
    }

    .ppp-home-page .sidebar ul li:hover a {
        padding-left: 50px;
        background-color: #D1D1D1;
    }

    .sidebar ul li a img {
        padding-right: 5px;
    }

    .ppp-home-page #check {
        display: none;
    }

    .ppp-home-page label #btn, label #cancel {
        position: absolute;
        cursor: pointer;
        background-color: black;
        border-radius: 50%;
    }

    .ppp-home-page label #btn {
        left: 40px;
        top: 5px;
        position: fixed;
        font-size: 35px;
        background-color: unset;
        color: black;
        padding: 6px 12px;
        transition: all .5s;
    }

    .ppp-home-page label #cancel {
        z-index: 1111;
        left: -195px;
        position: fixed;
        top: 11px;
        font-size: 30px;
        color: white;
        padding: 4px 7px;
        transition: all .5s;
    }

    .ppp-home-page #check:checked~.sidebar {
        left: 0;
    }

    .ppp-home-page #check:checked~label #btn {
        left: 250px;
        opacity: 0;
        pointer-events: none;
    }

    .ppp-home-page #check:checked~label #cancel {
        left: 205px;
    }

    .ppp-home-page #check:checked~.dashboard-content {
        margin-left: 250px;
    }

    /* Dashboard-content start here */

    .ppp-home-page .dashboard-content {
        background: transparent;
        background-position: center;
        background-size: cover;
        transition: all .5s;
        padding: 0px 50px;
    }

    .ppp-home-page .sub-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .ppp-home-page .dashboard-content h1 {
        font-size: 3.3em;
        font-weight: 400;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding-bottom: 10px;
        box-shadow: inset 0 -0.5rem 0 0 #05c2f0;
        margin: 53px 0px;
    }

    .ppp-home-page .dashboard-content p {
        color: #8c9db3;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .ppp-home-page .getting-finance .overview-percent-meter {
        width: 152px;
        font-size: 48px;
        height: 195px;
    }

    .ppp-home-page .getting-finance .completeness-position {
        font-size: 48px;
        position: relative !important;
        height: inherit;
        width: inherit;
        padding-top: 14px;
    }

    .ppp-home-page .getting-finance .completeness-position .completeness {
        transform: rotate(-90deg);
    }

    .ppp-home-page .getting-finance .completeness .completeness__track {
        stroke: #05c2f0;
        opacity: .15;
        fill: none;
    }

    .ppp-home-page .getting-finance .completeness .completeness__fill {
        stroke: #05c2f0;
        stroke-linecap: round;
        transition: stroke-dashoffset .6s ease-out;
        fill: none;
    }

    .ppp-home-page .getting-finance .percent-text {
        position: absolute;
        top: 0px;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 3px;
        color: #05c2f0;
        font-size: inherit;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .ppp-home-page .getting-finance .chance {
        padding-left: 75px;
        padding-right: 40px;
        font-size: 17px;
    }

    .ppp-home-page .btn-primary {
        margin-top: 15px;
        color: #fff;
        background-color: #05c2f0;
        border-color: #05c2f0;
        display: inline-block;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        border: 2px solid transparent;
        cursor: pointer;
        padding: 1.313rem 3.5rem;
        font-size: 1.2rem;
        line-height: 1em;
        border-radius: 19px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    /* Qualified Offers css start here */

    /* .ppp-home-page .portal-card:hover {
        margin: -3px 0 0 -3px;
        box-shadow: 0 5px 7px 0 rgb(0 0 0 / 30%);
        cursor: pointer;
    } */

    .ppp-home-page .portal-card .widget-title {
        text-transform: uppercase;
        font-size: 15px;
    }

    .ppp-home-page .portal-card .widget-data {
        color: #05c2f0;
        font-size: 48px;
        font-weight: 500;
    }

    .ppp-home-page .portal-card .widget-subtext {
        color: #8c9db3;
        font-size: 14px;
    }

    .ppp-home-page .portal-card .widget-subtext a {
        color: #05c2f0;
        font-size: 14px;
        cursor: pointer;
    }

    /* Funding Manager:Asher Hamblin */

    .ppp-home-page .portal-card {
        background: #fff;
        padding: 40px;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
        border-radius: 4px;
        overflow: hidden;
        width: 100%;
        margin-bottom: 30px;
    }

    .ppp-home-page .profile-img {
        border: 1px solid #bbc7d7;
        max-width: 100px;
        height: auto;
    }

    .ppp-home-page .fallback-avatar {
        background: #bbc7d7;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: 700 !important;
        color: #f6f9fe !important;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .ppp-home-page .next-steps .portal-card .status {
        color: #3fb700;
        font-size: 2rem;
    }

    .ppp-home-page .next-steps .portal-card .circle {
        border-radius: 50%;
        background: #3fb700;
        height: 17px;
        width: 17px;
        display: inline-block;
        color: #3fb700;
        font-size: 1.3rem;
    }

    .ppp-home-page .next-steps .portal-card a {
        color: #7EC4F0;
    }

    /* Offers-content CSS start here */

    .ppp-home-page .portalContent {
        margin-top: 45px;
        margin: 0;
        padding: 45px 50px 0;
    }

    .ppp-home-page .portalContent .backgroundShadow {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        box-shadow: inset 0 -1rem 0 0 #f0f4fa;
    }

    .ppp-home-page .pageTitle .portalHeader {
        font-size: 2em;
    }

    .ppp-home-page .pageDetail {
        color: #8c9db3;
    }

    .ppp-home-page .pageDetail .large-text {
        color: #1a1311;
        font-size: 2.5rem;
    }

    .ppp-home-page .pageDetail .nav .nav-container {
        padding-right: 3rem;
    }

    .ppp-home-page .pageDetail .nav .nav-container .active {
        color: #1a1311 !important;
        padding: 0px;
        border-bottom: 2px solid #05c2f0;
    }

    .ppp-home-page .pageDetail .nav .nav-container .active:hover {
        cursor: pointer;
        background: none;
    }

    .ppp-home-page .portalContent {
        max-width: 1170px;
    }

    .ppp-home-page .portalContent .infoNav .managerCta .offer-image {
        max-width: 68%;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card {
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .section-head {
        background-color: #0800a6;
        color: #f6f9fe;
        font-weight: 100;
        letter-spacing: .1rem;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .section-head .button-options {
        font-size: 1.5rem;
        letter-spacing: 1px;
        background-color: #0800a6;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .section-head .button-options .pointer {
        cursor: pointer;
        padding-right: 1rem;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .section-head .button-options .pointer .add-icon {
        height: 27px;
        margin-bottom: -2px;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box {
        flex-grow: 2;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box .gray-text {
        color: #8c9db3;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box .gray-text .fa-w-16 {
        width: 1em;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .text-center h4 {
        font-size: 2.5rem;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box .status-tracker {
        width: 100%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        text-align: center;
        padding-bottom: 50px;
        background: #fff;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box .status-tracker .dark-blue {
        background: #0091ff;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        position: relative;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box .status-tracker .status-label {
        width: 100px;
        left: -23px;
        position: absolute;
        bottom: 40px;
        color: #000;
        font-size: 15px;
        line-height: 20px;
        margin-left: -5px;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box .status-tracker .date {
        position: absolute;
        top: 40px;
        width: 100px;
        left: -33px;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box .status-tracker .full-gradient {
        background: linear-gradient(90deg, #0091ff, #6adffc);
        position: relative;
        width: 20%;
        height: 6px;
        top: 10px;
        margin-left: -5px;
        margin-right: -5px;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box .status-tracker .light-blue {
        background: #6adffc;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        position: relative;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        z-index: 999;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box .status-tracker .circle-gray {
        background: #c4c4c4;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        position: relative;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box .status-tracker .bar-gray {
        background: #c4c4c4;
        position: relative;
        width: 20%;
        height: 6px;
        top: 10px;
        margin-left: -5px;
        margin-right: -5px;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box #VoidedCheck {
        text-align: center;
        padding: 50px;
        border-top: 1px solid #d6dfee;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box #VoidedCheck .voided-check-container {
        margin: auto;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box #VoidedCheck .voided-check-container h4 {
        font-size: 2.3rem;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box #VoidedCheck .voided-check-container .upload-box-container .upload-box {
        position: relative;
        min-height: 80px;
        background: #f6f9fe;
        border: 2px dashed #bbc7d7;
        border-radius: 4px;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box #VoidedCheck .voided-check-container .upload-box-container .upload-box input {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        cursor: pointer;
        z-index: 1;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box #VoidedCheck .voided-check-container .upload-box-container .upload-box .upload-content {
        padding-bottom: 25px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 80px;
        text-align: left;
        padding-top: 25px;
        padding-right: 20px;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box #VoidedCheck .voided-check-container .upload-box-container .upload-box .upload-content .upload-title {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box #VoidedCheck .voided-check-container .upload-box-container .upload-box .upload-content .upload-title .upload-label {
        width: auto;
        flex-grow: 1;
        text-align: left;
        padding-right: 0;
    }

    .ppp-home-page .portalContent .stepsContent .deals-box-container .flat-card .deals-box .info-box #VoidedCheck .voided-check-container .upload-box-container .upload-box .upload-content .errored {
        padding-top: 5px;
        color: #dc3545;
    }

    .ppp-home-page .portalContent .disclaimer {
        background: #f1f6fc;
    }

    .ppp-home-page .portalContent .disclaimer .disclaimerThanks p {
        padding: 1rem 4rem 0;
        font-weight: 700;
        font-size: 1.8rem;
        padding-bottom: 1rem;
        margin-bottom: 0;
    }

    .ppp-home-page .portalContent .disclaimer .ppp-alert-content {
        color: #1a1311 !important;
        font-size: 1.8rem;
        padding-bottom: 1rem;
        padding: 1rem 4rem 8px;
    }

    .ppp-home-page .portalContent .disclaimer .ppp-alert-content a {
        color: #05c2f0;
        text-decoration: none;
        background-color: transparent;
    }

    .ppp-home-page .portalContent .portal-card .funding-specialist-box {
        justify-content: space-between;
    }

    .ppp-home-page .portalContent .wyw-links {
        padding: 0;
    }

    .ppp-home-page .portalContent .portal-card .wyw-link-block {
        padding: 5px 25px;
        height: 66px;
        border-top: 1px solid #f1f1f1;
        line-height: 1.2rem;
    }

    .ppp-home-page .portalContent .portal-card .wyw-link-block a {
        color: black;
    }

    .ppp-home-page .portalContent .portal-card .wyw-link-block .icon-list {
        background: #3816db;
        border-radius: 4px;
        flex-basis: 25px;
        flex-shrink: 0;
        height: 25px;
        align-content: center;
        justify-content: center;
    }

    .ppp-home-page .portalContent .portal-card .wyw-link-block .icon-file {
        background: #04c2f0;
    }

    .ppp-home-page .portalContent .portal-card .wyw-link-block .icon-question {
        background: #0092e1;
    }

    .ppp-home-page .portalContent .portal-card .wyw-link-block .icon-list img {
        width: 20px;
    }

    .ppp-home-page .portalContent .bottom-cta .gray-box {
        background: #f7f9ff;
        padding: 45px 60px 35px;
        color: #97a2a7;
    }

    .ppp-home-page .portalContent .bottom-cta .gray-box .sunrise-header img {
        margin-right: 60px;
    }

    .ppp-home-page .portalContent .bottom-cta .gray-box .sunrise-header a {
        color: white;
    }

    .ppp-home-page .portalContent .bottom-cta .gray-box p {
        font-size: 17px;
    }

    .ppp-home-page .portalContent .bottom-cta .gray-box .d-md-flex ul {
        color: #616161;
        line-height: 24px;
        list-style-type: none;
        padding: 0;
    }

    .ppp-home-page .portalContent .bottom-cta .gray-box .d-md-flex ul li {
        padding-left: 15px;
        position: relative;
    }

    .ppp-home-page .portalContent .bottom-cta .gray-box .d-md-flex ul li::before {
        content: "";
        width: 5px;
        height: 5px;
        background: orange;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 10px;
    }

    .ppp-home-page .portalContent .bottom-cta .ppp-withdraw-link {
        color: #8c9db3;
        text-decoration: underline;
        margin-bottom: 0;
        cursor: pointer;
    }

    /* Credit-Cards CSS here */

    .ppp-home-page .portalContent .cards-container .credit-card-info {
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    }

    .ppp-home-page .portalContent .cards-container .credit-card-info .vfa-choice {
        background-color: #f7fafe;
    }

    .ppp-home-page .portalContent .cards-container .credit-card-info .vfa-choice .vfa-choice-bg {
        background-color: #f7fafe;
        position: absolute;
        height: 100%;
        width: 270px;
        left: 0px;
        border-top: 44px solid #004c88;
        border-right: 22px solid transparent;
    }

    .ppp-home-page .portalContent .cards-container .credit-card-info .vfa-choice .vfa-choice-badge img {
        float: left;
        margin: 9px;
    }

    .ppp-home-page .portalContent .cards-container .credit-card-info .vfa-choice .vfa-choice-badge h3 {
        font-size: 25px;
        margin: 5px 0;
        color: white;
    }

    .ppp-home-page .portalContent .cards-container .credit-card-info .vfa-choice .vfa-choice-badge .highlight {
        color: #05c2f0;
    }

    .ppp-home-page .portalContent .cards-container .credit-card-info .vfa-choice .vfa-choice-tag h3 {
        color: #3e5a7d;
        font-size: 2.75rem;
    }

    .ppp-home-page .portalContent .cards-container .credit-card-info .card-logo img {
        max-width: 167px;
    }

    .ppp-home-page .portalContent .cards-container .credit-card-info .card-logo .disclosure {
        display: block;
        font-size: 16px;
        color: #768dad;
    }

    .ppp-home-page .portalContent .cards-container .credit-card-info .d-md-block {
        font-size: 3rem;
        width: 80%;
    }

    .ppp-home-page .portalContent .cards-container .credit-card-info .card-data h6 {
        font-size: 18px;
    }

    .ppp-home-page .portalContent .portal-card .wyw-link-block .icon-file img {
        width: 20px;
    }

    .ppp-home-page .portalContent .portal-card .wyw-link-block .icon-question img {
        width: 20px;
    }

    .ppp-home-page .portalContent a {
        color: #05c2f0;
        cursor: pointer;
    }

    .ppp-home-page .portalContent a span {
        color: #05c2f0;
        font-size: 16px;
    }

    .ppp-home-page .portalContent a span .arrow {
        border: solid #50c2f0;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
    }

    .ppp-home-page .portalContent a span .down {
        -webkit-transform: rotate(45deg);
    }

    .ppp-home-page .portalContent a span .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .ppp-home-page .portalContent .cards-container .credit-card-info ul li {
        list-style-type: disc;
        font-size: 16px;
    }

    .ppp-home-page #collapse_detail_list {
        display: none;
    }

    .ppp-home-page #collapse_detail_list_item {
        display: none;
    }

    .ppp-home-page #collapse_detail {
        display: none;
    }

    .ppp-home-page .collapse_feature {
        display: none;
    }

    .ppp-home-page #collapse_feature_item {
        display: none;
    }

    .ppp-home-page #collapse_feature_detail {
        display: none;
    }

    /* Your Resources page CSS start here */

    .ppp-home-page .portalContent .expand-max-service-offers .flat-card {
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    }

    .ppp-home-page .portalContent .expand-max-service-offers .flat-card .section-head {
        border-bottom: 1px solid #bbc7d7;
        padding: 1rem;
    }

    .ppp-home-page .portalContent .expand-max-service-offers .flat-card .message .opt-in-box-container .opt-in-logo {
        max-width: 200px;
    }

    .ppp-home-page .portalContent .expand-max-service-offers .flat-card .message .opt-in-box-container .opt-in-logo img {
        max-width: 100%;
        max-height: 100%;
    }

    .ppp-home-page .portalContent .expand-max-service-offers .flat-card .message .opt-in-box-container h4 {
        font-size: 2.2rem;
    }

    .ppp-home-page .portalContent .expand-max-service-offers .flat-card .message .opt-in-box-container ul {
        padding-left: 17px;
    }

    .ppp-home-page .portalContent .expand-max-service-offers .flat-card .message .opt-in-box-container ul li {
        list-style: disc;
        font-size: 16px;
        line-height: 1.5;
    }

    .ppp-home-page .portalContent .expand-max-service-offers .flat-card .message .opt-in-box-container .option-banner {
        color: #05c2f0;