.testimonials {
  border: 2px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.testimonials::after {
  content: "";
  clear: both;
  display: table;
}

.testimonials .fa {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  font-size: 66px;
  color: #44d9e6;
}

.testimonials span {
  font-size: 20px;
  margin-right: 15px;
}

.error {
  color: red;
}

@media (max-width: 500px) {
  .testimonials {
    text-align: center;
  }

  .testimonials .fa {
    margin: auto;
    float: none;
    display: block;
  }
}