body {
    margin: 0;
    padding: 0
}

.container-fluid {
    margin: 0;
    padding: 0 !important
}

.toast {
    opacity: 1 !important
}

.toast strong.title {
    color: #5e6165;
    font-size: 18px
}

.toast img.logo-toast {
    height: 15px
}

.toast-header {
    background-color: #f4f7f7 !important
}

.btn-secondary.disabled:hover {
    opacity: .65 !important
}

.dropdown-toggle.btn-secondary.btn {
    background-color: #eaefef;
    color: grey;
    text-transform: inherit;
    border-radius: 15px
}

.dropdown-toggle.btn-secondary.btn span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 30px);
    display: block;
    float: left
}

.dropdown-toggle.btn-secondary.btn svg.caret {
    float: right;
    margin-top: 8px
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle,
.btn-secondary.dropdown-toggle:hover,
.btn-secondary.dropdown-toggle:focus {
    background-color: #dbdee2 !important;
    color: #000 !important
}

.dropdown-menu.show {
    width: 100%;
    font-size: 1.5rem
}

.dropdown-item {
    padding: 1rem 1.5rem !important
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #adb5bd !important
}

.os-animation {
    opacity: 0
}

.os-animation.animated {
    opacity: 1
}

.intro-block.row,
.row.map-stats-1,
.row.map-stats-2,
.map-block.row {
    margin-right: 0;
    margin-left: 0
}

.intro-block .col-md-6 {
    padding: 0
}

.title-block h1 {
    font-weight: 600 !important;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 2.8rem
}

.title-block h2 {
    font-weight: 500 !important;
    color: #21b9e7;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 5.5rem
}

.title-block h3 {
    font-size: 1.5rem;
    font-weight: 500 !important
}

.title-block .btn-group,
.state-block .btn-group {
    width: 100%
}

.title-block .btn.dropdown-toggle,
.state-block .btn.dropdown-toggle {
    border: none;
    margin: 30px 0;
    padding: 20px 40px;
    font-size: 1.5rem;
    text-align: left
}

.title-block .dropdown-toggle::after,
.state-block .dropdown-toggle::after {
    float: right;
    margin-top: 16px;
    color: #333
}

.title-block .stat-1,
.title-block .stat-2 {
    padding: 20px
}

.title-block,
.info-block {
    padding: 50px 60px
}

.info-block {
    background-color: #f4f7f7
}

.info-block h2 {
    font-weight: 600 !important;
    color: #21b9e7;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 0
}

.info-block button.btn-primary {
    background-color: #21b9e7;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px 40px;
    font-size: 1.5rem;
    text-transform: inherit;
    border-radius: 15px;
    font-weight: 600
}

.graph-block {
    background-color: #eaefef;
    padding: 50px;
    width: 100%
}

.graph-block h2 {
    font-weight: 600 !important;
    text-align: center;
    margin-top: 30px
}

.highcharts-container,
.highcharts-container .highcharts-root {
    width: 100% !important
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 100%
}

.highcharts-figure #container-graph-2,
#container-graph-2 .highcharts-data-table table {
    height: 150px
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.5rem;
    color: #000
}

.highcharts-data-table th {
    font-weight: 600;
    padding: .5em
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: .5em
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8
}

.highcharts-data-table tr:hover {
    background: #f1f7ff
}

.highcharts-background {
    fill: none !important
}

.highcharts-axis.highcharts-yaxis,
.highcharts-credits {
    display: none !important
}

.highcharts-axis-labels.highcharts-xaxis-labels text {
    cursor: default !important;
    font-size: 1.2rem !important;
    fill: #000 !important
}

.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-color-0.highcharts-tracker rect {
    stroke: none;
    fill: #21b9e7;
    width: 15px
}

.highcharts-series.highcharts-series-1.highcharts-column-series.highcharts-color-1.highcharts-tracker rect {
    stroke: none;
    fill: #053f45;
    width: 15px
}

.highcharts-legend-item highcharts-column-series.highcharts-color-0.highcharts-series-0 rect {
    fill: #21b9e7
}

.highcharts-legend-item.highcharts-column-series.highcharts-color-1.highcharts-series-1 rect {
    fill: #053f45
}

.highcharts-legend-item.highcharts-column-series.highcharts-color-0.highcharts-series-0 text,
.highcharts-legend-item.highcharts-column-series.highcharts-color-1.highcharts-series-1 text {
    font-size: 1.2rem !important;
    fill: #000 !important
}

#container-graph-2 .highcharts-legend {
    display: none !important
}

.stats-block {
    background-color: #21b9e7;
    color: #fff;
    padding: 50px;
    width: 100%;
    text-align: center
}

.stats-block h2 {
    font-size: 5.5rem;
    margin-bottom: 30px;
    font-weight: 600 !important
}

.stats-block h3 {
    font-size: 1.5rem;
    font-weight: 400 !important;
    max-width: 400px;
    margin: 0 auto;
    line-height: inherit
}

.stats-block .col-6 {
    padding: 0 30px
}

.us-block {
    background-color: #eaefef;
    padding: 100px 60px
}

.map-block .col-md-6 {
    padding: 0
}

.state-block {
    padding: 50px 60px
}

.map-block h2 {
    font-weight: 600 !important
}

.us-block #map {
    height: 30rem !important;
    max-width: fit-content !important;
    min-width: 100% !important;
    width: 100% !important;
    overflow: hidden;
    display: flex
}

.us-block #map svg {
    margin: 0 auto;
    vertical-align: bottom
}

#clicked-state {
    margin-top: 30px;
    font-weight: 700 !important;
    font-size: 2rem
}

.map-key {
    max-width: 600px
}

.map-key ul {
    display: inline-flex;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    width: 100%;
    margin-left: 0 !important
}

.map-key ul li {
    padding: 5px 15px;
    border: 1px solid #000;
    color: #fff;
    min-width: 20%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.map-key ul li.mkey-1 {
    background-color: #22beed
}

.map-key ul li.mkey-2 {
    background-color: #169aaa
}

.map-key ul li.mkey-3 {
    background-color: #095e67
}

.map-key ul li.mkey-4 {
    background-color: #022d2c
}

.map-key ul li.mkey-5 {
    background-color: #011e1d
}

div#single-state svg {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 300px;
    fill: grey;
    stroke: #000;
    stroke-width: 1px
}

div#single-state svg.type-1 {
    fill: #22beed
}

div#single-state svg.type-2 {
    fill: #169aaa
}

div#single-state svg.type-3 {
    fill: #095e67
}

div#single-state svg.type-4 {
    fill: #022d2c
}

div#single-state svg.type-5 {
    fill: #011e1d
}

.state-info h1 {
    font-size: 5rem;
    color: #21b9e7;
    padding: 10px 0;
    font-weight: 600 !important
}

.state-info h3 {
    font-weight: 400 !important;
    font-size: 1.5rem;
    max-width: 400px
}

.map-stats-1 .col-6,
.map-stats-2 .col-6 {
    padding: 0
}

.map-stats-1 h1,
.map-stats-2 h1 {
    font-size: 5.5rem;
    color: #21b9e7;
    margin-top: 10px;
    line-height: inherit;
    font-weight: 600 !important
}

.map-stats-1 h2,
.map-stats-2 h2 {
    font-weight: 400 !important;
    font-size: 1.5rem;
    max-width: 400px;
    line-height: inherit;
    margin: 0 auto
}

.map-stats-1 h3,
.map-stats-2 h3 {
    font-weight: 700 !important;
    margin-bottom: 30px
}

.stat-5,
.stat-6,
.stat-7,
.stat-8 {
    padding: 50px 60px;
    text-align: center
}

.stat-5 {
    background-color: #f2f5f5
}

.stat-6 {
    background-color: #fafbfb
}

.stat-7 {
    background-color: #fff
}

.stat-8 {
    background-color: #eaefef
}

@media only screen and (max-width:600px) {

    .title-block h2,
    .stats-block h2,
    .map-stats-1 h1,
    .map-stats-2 h1,
    .state-info h1 {
        font-size: 2.5rem !important
    }
}

@media only screen and (max-width:767px) {

    .title-block .stat-1,
    .title-block .stat-2 {
        padding: 0
    }

    .title-block h3,
    .info-block button.btn-primary,
    .stats-block h3,
    .map-stats-1 h2,
    .map-stats-2 h2,
    .map-stats-1 h3,
    .map-stats-2 h3,
    #clicked-state,
    .title-block .btn.dropdown-toggle,
    .state-block .btn.dropdown-toggle,
    .dropdown-menu.show,
    .state-info h3 {
        font-size: 1rem !important
    }

    .title-block h2 {
        margin-bottom: 10px
    }

    .title-block h1 {
        margin-bottom: 0;
        margin-top: 0
    }

    .title-block,
    .info-block,
    .graph-block,
    .stats-block,
    .us-block,
    .state-block {
        padding: 20px !important
    }

    div#single-state svg {
        max-height: 200px !important
    }

    .us-block #map {
        height: 30rem !important
    }

    div#single-state svg {
        max-height: 300px
    }
}

@media only screen and (max-width:991px) {

    .title-block,
    .info-block,
    .graph-block,
    .stats-block,
    .us-block,
    .state-block {
        padding: 20px 30px
    }

    .title-block h2,
    .stats-block h2,
    .map-stats-1 h1,
    .map-stats-2 h1,
    .state-info h1 {
        font-size: 3.5rem !important
    }

    .info-block h2,
    .graph-block h2,
    .map-block h2 {
        font-size: 1.5rem !important
    }

    .state-info h3 {
        font-size: 1.3rem
    }

    .info-block h2 {
        margin-bottom: 10px
    }

    .stats-block h2 {
        margin-bottom: 10px
    }

    .stats-block h3 {
        margin-bottom: 10px
    }

    .stat-5,
    .stat-6,
    .stat-7,
    .stat-8 {
        padding: 20px 30px
    }

    #bar-chart-1 {
        height: 400px
    }

    #bar-chart-2 {
        height: 400px
    }

    .highcharts-series.highcharts-series-1.highcharts-column-series.highcharts-color-1.highcharts-tracker rect,
    .highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-color-0.highcharts-tracker rect {
        width: 8px
    }

    .us-block #map {
        height: 25rem !important
    }

    .state-info h1 {
        padding: 0
    }

    div#single-state svg {
        max-height: 200px
    }
}

@media only screen and (max-width:1199px) {
    p {
        font-size: 1rem !important
    }

    .title-block h1 {
        font-size: 2.2rem
    }

    .info-block h2,
    .graph-block h2,
    .map-block h2 {
        font-size: 2rem;
        margin-bottom: 0
    }

    .title-block h2,
    .stats-block h2,
    .map-stats-1 h1,
    .map-stats-2 h1,
    .state-info h1 {
        font-size: 4.5rem
    }

    .title-block h3,
    .info-block button.btn-primary,
    .stats-block h3,
    .map-stats-1 h2,
    .map-stats-2 h2,
    .map-stats-1 h3,
    .map-stats-2 h3,
    #clicked-state,
    .title-block .btn.dropdown-toggle,
    .state-block .btn.dropdown-toggle,
    .dropdown-menu.show {
        font-size: 1.2rem
    }

    .map-stats-1 h3,
    .map-stats-2 h3 {
        margin-bottom: 20px
    }

    .stats-block h3 {
        max-width: 300px
    }

    .graph-key .key-1,
    .graph-key .key-2 {
        width: 15px;
        height: 15px;
        margin-top: 8px
    }

    .graph-block .graph-key {
        max-width: 300px
    }

    .graph-block .graph-key h3 {
        font-size: 1rem
    }

    .title-block .btn.dropdown-toggle,
    .state-block .btn.dropdown-toggle {
        margin: 0;
        padding: 20px 15px
    }

    div#single-state svg {
        max-height: 250px
    }
}

@media only screen and (max-width:1439px) {
    p {
        font-size: 1.2rem
    }

    .title-block .stat-1,
    .title-block .stat-2 {
        padding: 0
    }
}

@media only screen and (min-width:1440px) {
    p {
        font-size: 1.2rem
    }
}